/* witip about page */
html {font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
      font-size: 11pt;
      color: #272727; }
body { margin: 0; }
.main {clear: both; margin: 5px 20px 5px 30px; padding: 10px; }

.hmain { margin: 10px 5px 0 0; }
.helptable { width: 100%; border-collapse: collapse; height: 100%; }
.helptable td {vertical-align: top; }
.legend { min-width: 6em; font-size: 10pt;  display: block; padding: 5px 0
5px 1px;
         background-color: #eaeaea; white-space: nowrap;}
.ltitle {font-weight: bold; color:#175b6d; padding: 3px 0 2px 1px; }
.legend ul { padding: 0; margin: 0; }
.legend li {padding: 1px 2px 1px 5px; margin: 0; display: block; cursor: pointer; 
         color: #175b6d; }
.legend li:hover {background-color: #d8d8d8; }
.legend a {text-decoration: none; color: #272727; }

.content { width: 100%; padding-left: 5px; }
.left { overflow-y: scroll; height: 250px; padding-right: 4px; max-width: 40rem; }
.left p {padding: 0; margin: 2px; }
.left h2 {color: #175b6d; font-size: 12pt; }
.left a {text-decoration: none; color: #074b6d; }
.left a:hover {background-color: #e8e8e8; }
.left strong {color: #175b6d; }
.samplecode { font-family: monospace; font-size: 0.9em; color: #074612; padding: 0 3px; 
       background-color: #f2fff2; }
.indent { margin-left: 1.5em; padding: 3px; line-height: 1.5;}
.resfalse {font-size: 88%; padding-right: 5px; color: #502610; font-weight:
       bold; }
.restrue {font-size: 88%; padding-right: 5px; color: #106610; font-weight:
       bold; }
.resonly {font-size: 88%; padding-right: 5px; color: #224610; font-weight:
       bold; }
.resother {font-size: 88%; padding-right: 5px; color: #242424; font-weight:
       bold; }
.constraint { display: inline-block; width: 1em; text-align: center; font-weight: bold;
   color: #175b6d; }
.sample th {text-align: left; vertical-align: top; line-height: 1.2;}
.sample td {line-height: 1.2; }


.textblock ul {margin: 5px 0; }

/* action input background color: $ffd8a0; hover: #efbf8f */
.action { padding: 10px; margin: 0 10px; visibility: hidden; }
.save {text-align: right; padding: 0px 3px; }
.action input {font-size:11pt; background-color:#fefefe; font-weight: normal;
      cursor:default;border:1px solid #999999; color: #272727; }
.action input:hover{ background-color: #e8e8e8; }
.cancel {padding: 0px 3px; }

