/* witip login */

html {font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
      font-size: 11pt;
      color: #272727; }
body { margin: 0; }
.main {clear: both; margin: 5px 20px 5px 30px; padding: 10px; }

.rescontainer { width: 100%; overflow: auto; overflow-y: scroll;
                overflow-x: hidden; padding: 5px 0; margin: 0;}
.result { background-color: #fefece; width: 100%;
          border-collapse: collapse; cursor: default; }
.nocontent { border-top: 1px dotted #c0c0c0;  padding-left: 3em; }
.welcome { padding: 3px 0 3px 3px; }
.resultline { border-top: 1px solid #b9b9b9; width: 100%; border-right: 0px solid #9f9f9f;
             border-left: 1px solid #9f9f9f;}
.resultline:hover {background-color: #e8e8b8; }
/* submit button */
.action {padding: 10px; margin: 0 10px; visibility: hidden;}
.action input { font-size: 11pt; background-color: #fefefe; font-weight: normal;
    cursor: default; border: 1px solid #999999; color: #272727; }
.action input:hover { background-color: #e8e8e8; }
.delsubmit { text-align: right; padding: 0 3px; }
.cancel {padding: 0 3px; }
.delall {padding: 0 3px; }


.resdel  {width: 18px; padding-left: 3px;  }
.resinnerdel { border:none; margin-bottom:0; outline: 0; padding: 0;  position: relative; }
.resinnerdel label {color: transparent; cursor: pointer; display: block;
  position: relative; text-indent: 100%; margin-bottom: 0; width: 15px;
  height: 15px; }
.resinnerdel input { left: 10px; opacity: 0; padding: 0; position: absolute; top: 9px; }
.resinnerdel input + label { margin-left: 0; margin-right: 0; }
.resinnerdel label:after { content:""; display: block; position: absolute; }
.resinnerdel label {background-size: cover; }
.coninnerdel input:checked + label { background-size: cover; }


.auxline { border-top: 1px dotted #c0c0c0; border-left: 1px solid #9f9f9f;}
.rescode { font-size: 88%; width: 3em; padding-left: 5px; text-align: left; white-space:nowrap; }
.rescode .true { color: #106610; font-weight: bold; }
.rescode .false{ color: #502610; font-weight: bold; }
.rescode .onlyle{ color: #224610; font-weight: bold; }
.rescode .onlyge{ color: #224610; font-weight: bold; }
.onlyspacer {display: inline-block; width: 2px; }
.constraint { width: 1em; text-align: center; font-weight: bold; color: #175b6d;}


.code { padding: 3px 0 3px 3px;
        word-break: break-all; width: 100%; vertical-align: text-top;
        line-height: 1.4em; cursor: pointer;}
.auxcode { padding: 3px 0 3px 3px;
        word-break: break-all; width: 100%; vertical-align: text-top;
        line-height: 1.4em; }

.edit { width: 100%; margin: 15px 0; }
.edit table {border:0; margin:0; border-collapse: collapse; }
.edit td {vertical-align: top; }
.edit .editline {width: 100%; }
.editsubmit { padding-right: 3px; text-align: right; }
.editsubmit input {font-size:11pt; font-weight: normal;
      cursor:default;border:1px solid #999999; }
.chkwidth {padding: 3px 0;}
.chkwithout {padding: 3px 0; }
.defaultcheckbutton { background-color: #fefefe; color: #272727; }
.defaultcheckbutton:hover { background-color: #e8e8e8; }
.auxcheckbutton {background-color: #cccccc; color: #676767; }
.auxcheckbutton:hover { background-color: #a0a0a0; }
 
.edit .dblinput, .errmsg, .erraux {position:relative; width: 95%; margin: auto; }
.erraux { word-break: break-all; }
.edit .inputmain {position: absolute; top: 0; left: 0;
   z-index: 1; background-color:transparent; }
.edit .inputshadow {position: absolute; top: 2px; left: 0;
   z-index: 0; background-color: #f4f4f4; color: #a31;}
.edit textarea {
    border: 0 solid white; word-break: break-all; margin: 0;
    resize: none; overflow: hidden; width: 100%; padding: 2px 2px 0 2px; }
.edit .errmsg, .erraux { cursor: default;}

